/**
 * @file
 */

body {
  font-family: arial;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4;
  color: #444;
  margin: 0;
  background: #222;
}

a:link, a:visited {
  color: #5895be;
  text-decoration: none;
  outline: none;
}

.container {
  margin: 0 auto;
  width: 960px;
}

#header a:link,
#header a:visited {
  color: #fff;
}

#footer {
  text-align: center;
}

h1, h2, h3, h4 {
  margin: 5px 0;
}

pre {
  font: 12px monospace;
}

label {
  display: block;
  margin: 10px 0 1px 0;
  font-weight: bold;
}

input[type="submit"] {
  margin-top: 8px;
  display: block;
}

textarea {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 4px 8px;
  border-bottom: 1px solid #ccc;
}

th {
  background: #eee;
}

ul.admin-menu {
  width: 100%;
  height: 20px;
  background: #101010;
  margin: 0;
  padding: 0;
  top: 0;
}

ul.admin-menu li {
  list-style: none;
}

ul.admin-menu a {
  display: block;
  float: left;
  padding: 0 8px;
  font-size: 10px;
  color: #eee;
  border-right: 1px solid #333;
}

ul.admin-menu li.active a {
}

ul.tabs {
  margin: 10px 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

ul.tabs li {
  list-style: none;
}

ul.tabs li a {
  display: block;
  float: left;
  padding: 0 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  background: #eee;
}

ul.tabs li.active a {
  background: #fff;
}

#pager ul {
  text-align: center;
}

#pager ul li {
  list-style: none;
  display: inline;
  padding: 0 15px;
}

/* todo: other menu items should be wrapped in divs like this */
#nav {
  height: 30px;
}

#nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

#nav ul li {
  list-style: none;
  float: left;
}

#nav ul li a {
  display: block;
  padding: 10px 10px 0;
  margin-left: 10px;
  background: url("images/nav.png") center top no-repeat;
}

#nav ul a.active {
  color: #c7dd2f;
}

.description {
  font-size: 11px;
  line-height: 13px;
}

.node {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.submitted {
  font-size: 11px;
}

div.message {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}

div.status {
  color: #468847;
  background: #dff0d8;
  border-color: #d6e9c6;
}

div.error {
  color: #b94a48;
  background: #f2dede;
  border-color: #eed3d7;
}

.required {
  color: #ffae00;
}

#site-name {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}

.clear-block:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}

* html .clear-block {
  height: 1%;
}

.clear-block {
  display: block;
}


